/* Tiny Screens */
@media screen
  and (max-width: 550px) {
    .grid-sizer, .grid-item {
      width: 100%;
    }
}

/* Min sized windows */
@media screen
  and (min-width: 551px)
  and (max-width: 799px) {
    .grid-sizer, .grid-item {
      width: 50%;
    }
}

@media screen
  and (min-width: 800px)
  and (max-width: 1199px) {
    .grid-sizer, .grid-item {
      width: 33.3333%;
    }
}

/* Laptops */
@media screen
  and (min-width: 1200px)
  and (max-width: 1600px) {
    .grid-sizer, .grid-item {
      width: 25%;
    }
}

/* Large Screens */
@media screen
  and (min-width: 1601px) {
    .grid-sizer, .grid-item {
      width: 20%;
    }
}
