.modal-overlay {
  position          : fixed;
  display           : flex;
  justify-content   : center;
  align-items       : center;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  background-color  : rgba(0, 0, 0, 0.4);
}

.modal-content{
  position                   : absolute;
  border                     : 1px solid #ccc;
  background                 : #fff;
  overflow                   : auto;
  -webkit-overflow-scrolling : touch;
  border-radius              : 8px;
  outline                    : none;
  padding                    : 40px;
  max-width                  : 90%;
  max-height                 : 91vh;
}
